<footer id="main-footer">
    <div class="container">
    <p class="visit"><a href="http://www.realwear.com">www.realwear.com</a></p>
    <div class="hashtag">
        <a href="https://twitter.com/search?q=%23freeyourhands&src=typd">#freeyourhands</a>
    </div>
    <ul class="social-icons">
        <li><a data-test="twitter_footer" href="https://twitter.com/realwearinc" target="_blank"><i class="fa fa-fw fa-twitter"></i></a></li>
        <li><a data-test="faceb_footer" href="https://www.facebook.com/RealWearInc/" target="_blank"><i class="fa fa-fw fa-facebook"></i></a></li>
        <li><a data-test="linkedin_footer" href="https://www.linkedin.com/company/realwear-inc./" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a></li>
        <li><a data-test="youtube_footer" href="https://www.youtube.com/channel/UCf48qCgOXQvtVstkeM2guyw" target="_blank"><i class="fa fa-fw fa-youtube-play"></i></a></li>
        <li><a data-test="git_footer" href="https://github.com/realwear" target="_blank"><i class="fa fa-fw fa-github"></i></a></li>
        <li><a data-test="envelope_footer" href="mailto:info@realwear.com" target="_blank"><i class="fa fa-fw fa-envelope" style="font-size:17px;"></i></a></li>
    </ul>
    <div class="github-links">
        <a href="/downloads">Downloads</a> - <a href="/release-notes">Release Notes</a>
    </div>

    <div data-test="copyright_footer" class="copyright">
        <small>&copy; {{ date("Y") }} RealWear, Inc. All rights reserved.</small>
    </div>
    </div>
</footer>
