<footer id="main-footer">
    <div class="container">
    <p class="visit"><a href="http://www.realwear.com">www.realwear.com</a></p>
    <div class="hashtag">
        <a href="https://twitter.com/search?q=%23freeyourhands&src=typd">#freeyourhands</a>
    </div>
    <ul class="social-icons">
        <li><a data-test="twitter_footer" href="https://twitter.com/realwearinc" target="_blank"><i class="fa fa-fw fa-twitter"></i></a></li>
        <li><a data-test="faceb_footer" href="https://www.facebook.com/RealWearInc/" target="_blank"><i class="fa fa-fw fa-facebook"></i></a></li>
        <li><a data-test="linkedin_footer" href="https://www.linkedin.com/company/realwear-inc./" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a></li>
        <li><a data-test="youtube_footer" href="https://www.youtube.com/channel/UCf48qCgOXQvtVstkeM2guyw" target="_blank"><i class="fa fa-fw fa-youtube-play"></i></a></li>
        <li><a data-test="git_footer" href="https://github.com/realwear" target="_blank"><i class="fa fa-fw fa-github"></i></a></li>
        <li><a data-test="envelope_footer" href="mailto:info@realwear.com" target="_blank"><i class="fa fa-fw fa-envelope" style="font-size:17px;"></i></a></li>
    </ul>
    <div class="github-links">
        <a href="/downloads">Downloads</a> - <a href="/release-notes">Release Notes</a>
    </div>

    <div data-test="copyright_footer" class="copyright">
        <small>&copy; {{ date("Y") }} RealWear, Inc. All rights reserved.</small>
        
        {% if site.github.is_project_page %}
          <span class="site-footer-owner">Repository maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
    </div>
    </div>
</footer>

<div class="modal fade" id="subscribeModal" tabindex="-1" role="dialog" aria-labelledby="subscribeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div id="revue-embed" style="text-align:center;">
              <form action="https://www.getrevue.co/profile/realwear/add_subscriber" method="post" id="revue-form"
                    name="revue-form" target="_blank">
                  <h3>Subscribe to Newsletter</h3>
                  <div class="revue-form-group">
                      <label for="member_email">Email address</label>
                      <input class="revue-form-field" placeholder="Your email address" type="email"
                             name="member[email]" id="member_email" required="required">
                  </div>
                  <div class="revue-form-group">
                      <label for="member_first_name">First name <span class="optional">(Optional)</span></label>
                      <input class="revue-form-field" placeholder="Your first name" type="text"
                             name="member[first_name]" id="member_first_name">
                  </div>
                  <div class="revue-form-group">
                      <label for="member_last_name">Last name <span class="optional">(Optional)</span></label>
                      <input class="revue-form-field" placeholder="Your last name" type="text"
                             name="member[last_name]" id="member_last_name"> </div> <div class="revue-form-actions">
                      <input type="submit" value="Subscribe" name="member[subscribe]" id="member_submit" class="cta">
                  </div>
              </form>
          </div>
        </div>
      </div>
    </div>
</div>

<script>
    jQuery('#revue-form').on('submit', function(){
        jQuery('#subscribeModal').modal('hide');
    });
</script>
