---
---
// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

.github {
    padding-top: 2px;
    a {
        color: #606C70;
        display: block;
        padding: 2px 10px 0;
        &:hover {
            background: #ddd;
            text-decoration: none;
        }
    }
} 
h1 {
    font-weight: 500;
}
.page-header {
    .breadcrumbs {
        @include large {
            max-width: 52rem;
            padding:0;
          }
    }
    .main-content {
        border-bottom: 2px solid #ccc;
    }
    &.product {
        background: #fff;
        @include large {
            padding: 0.8rem 6rem;
        }
        h1 {
            font-size: 2.8rem;
        }
        h2 {
            font-size: 1.2rem;
            font-weight: 300;
            margin-top: 1rem;
            @include large {
                padding: 0 6rem;
            }
        }
        .main-content {
            @include large {
                max-width: 52rem;
                padding: 2rem 4rem;
            }
            @include medium {
                margin: 0 4rem;
              }
            @include small {
                padding: 1rem 0;
                margin: 0 1rem;
            }
        }
    }
}
.main-content {
    h1 {
        margin-bottom: 0;
    }
}