<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
      
    {% include header.html %}
      
    <section class="home-header">
        <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
        <h2 class="project-tagline">{{ site.description | default: site.github.repository_name }}</h2>
    </section>

    <section class="main-content">
    <!--div class="text-center">
        <img src="assets/images/index/hmt1.png" alt="RealWear's HMT-1 device" class="center" />
    </div-->

    <div class="flex-container">
        <a class="flex-item" href="android">
            Android
        </a>
        <a class="flex-item" href="unity">
            Unity
        </a>
        <a class="flex-item" href="react-native">
            React Native
        </a>
        <a class="flex-item" href="cordova">
            Cordova
        </a>
        <a class="flex-item" href="html">
            HTML
        </a>
        <a class="flex-item" href="xamarin">
            Xamarin
        </a>
    </div>
    
    <div class="block familiar">
        <h2>HMT-1: A Familiar Android device</h2>

        <p>The HMT-1 runs Android 6.0 (Marshmallow) making it familiar to many existing Android developers. Applications created for most Android phones or tablets can be easily deployed and run on the HMT-1 using the standard ADB tools from Google. There is even a microUSB port built into HMT-1 to allow for easy developer connections to Android Studio and the like</p>

        <p>The device itself has a screen resolution of 854 x 480 pixels and provides a similar experience to the user as looking at a 7 inch tablet.</p>
    </div>
        
    <div class="block">
        <h2 class="float_clear_left">Familiar, but different...</h2>

        <p>Unlike traditional Android devices the HMT-1 does not have a touch interface but is instead powered entirely by the user's voice commands and head 	gestures.</p>

        <p>The HMT-1 comes with a built in service called <strong>WearHF</strong> which provides all of the functionality required by an application to work seamlessly on the device, in a hands-free way. <strong>There is no SDK</strong> - WearHF will automatically turn a touch-based application into a voice-driven one, at runtime, without any development required!</p>
    </div>
</section>
<div class="grey-bg rw-block">
    <section class="main-content">
        <h2>RealWear Explorer: An Essential Dev Tool</h2>

        <p>We do recommend a development tool to help you develop for the HMT-1; it's called RealWear Explorer.</p>

        <p>RealWear Explorer is a PC/Mac desktop application that connects to the HMT-1 using a standard micro USB cable. It mirrors the HMT-1 screen to your desktop, allows for easy APK installation and provides a host of useful tools and utilities. RealWear Explorer is also the tool required to create and test WearML scripts to optimize binary applications for voice.</p>

        <p>For more information and downloads</p>
        <p><a class="btn dark" href="realwear">RealWear Explorer</a></p>
    </section>
</div>
      
<section class="main-content">
	<h2>What's Your Environment?</h2>
	  
	<p>HMT-1 works well with applications and webpages developed from a variety of common environments. Click on your development environment to find out more details, including code samples and demonstration applications:</p>

	<div class="flex-container">
        <a class="flex-item" href="android">
            Android
        </a>
        <a class="flex-item" href="unity">
            Unity
        </a>
        <a class="flex-item" href="react-native">
            React Native
        </a>
        <a class="flex-item" href="cordova">
            Cordova
        </a>
        <a class="flex-item" href="html">
            HTML
        </a>
        <a class="flex-item" href="xamarin">
            Xamarin
        </a>
    </div>
        
        {{ content }}
    {% include footer.html %}
    </section>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
