<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    {% include head.html %}
  </head>
  <body>      
    {% include header.html %}
      
    <section class="home-header">
        <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
    </section>


    {{ content }}

	
	{% include footer.html %}

  </body>
</html>
