<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head.html %}
  </head>
  <body>      
    {% include header.html %}

    <header class="news-header">
        <div class="container header-top">
            <h1 class="page-title">Developers</h1>        <div class="category-buttons">
                <button type="button" data-toggle="modal" data-target="#subscribeModal" class="btn-top">
                    Subscribe to Newsletter
                </button>
            </div>
        </div>
    </header>

    {{ content }}
	
	{% include footer.html %}

  </body>
</html>
